# Develepment environment

.idea/

# Installable packages

node_modules/

# Building artifacts

bld/
*.tgz

# Debugging outputs

debug/
*.log

# Testing files

/test.*

# File system

.DS_Store

# Backup files

dump/
*.bak
